extends ../layouts/default

block main
  h1= circle.title

block content
  .row
    .span9
      p title : #{circle.title}
      p amount : #{circle.amount}        
      p period : #{circle.period}        
      p Users :
      
  button.btn.btn-small  add members to your circle 
